<section class="tc-section tc-section-layout">
  <form tcFirstLastValidator (ngSubmit)="submit()" #createColleagueForm="ngForm">

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Pseudo</mat-label>
      <input matInput tcPseudoValidator [(ngModel)]="colleague.pseudo" name="pseudo" #pseudo="ngModel" required >
      <mat-error *ngIf="pseudo.errors">
          <span *ngIf="pseudo.errors['pseudo']">Pseudo déjà pris</span>
          <span *ngIf="pseudo.errors['required']">Pseudo invalide</span>
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Nom</mat-label>
      <input matInput [(ngModel)]="colleague.last" name="last" #last="ngModel" required minlength="2">
      <mat-hint>Min. 2 caractères</mat-hint>
      <mat-error *ngIf="last.invalid">
        Nom invalide
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Prénom</mat-label>
      <input matInput [(ngModel)]="colleague.first" name="first" #first="ngModel" required minlength="2">
      <mat-hint>Min. 2 caractères</mat-hint>
      <mat-error  *ngIf="first.invalid">
        Prénom invalide
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Photo URL</mat-label>
      <input matInput [(ngModel)]="colleague.photo" name="photo" #photo="ngModel" required >
      <mat-error *ngIf="photo.invalid">
        Url de la photo invalide
      </mat-error>
    </mat-form-field>
    <br>

    <div *ngIf="createColleagueForm.errors && createColleagueForm.errors['firstLast']">
      Le Nom et le Prénom ne peuvent pas être identique.
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!createColleagueForm.valid">Ajouter</button>
  </form>
</section>
