<section class="tc-section tc-page-layout">
  <section class="tc-page-layout--main">
    <section class="tc-section tc-section-layout">
      <div class="tc-section-layout--header">
        <button mat-icon-button>
          <mat-icon svgIcon="arrow-rotate-right" (click)="refresh()"></mat-icon>
        </button>
      </div>
      <div class="tc-section-layout--content">
        <tc-colleague-list></tc-colleague-list>
      </div>
    </section>
  </section>
  <section class="tc-page-layout--side">
    <tc-voting-history></tc-voting-history>
  </section>
</section>
