

// Sections

.tc-section {


  &.tc-section-layout{
    margin: 10px;

    .tc-section-layout--header {
      padding: 10px;
    }
  }
}

// UI Container
.tc-ui-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: fit-content;
  padding: 10px;
}


// img


.tc-photo-profil {
  aspect-ratio: 1 / 1;
  width: 150px;
  object-fit: cover;
}
