

// Text management

.text-center {
  text-align: center;
}


// Content management

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}


// Grid template

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}


// Flex
.flex {
  display: flex;
  gap: 10px;

  &.f-row {
    flex-direction: row;
  }

  &.f-column {
    flex-direction: column;
  }

  .grow-1{
    flex-grow: 1;
  }
}
