.tc-section {
  container-type: inline-size;
}

@container (inline-size >= 350px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@container (inline-size >= 520px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@container (inline-size >= 705px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@container (inline-size >= 860px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}


