section {
  container-type: inline-size;
}

.tc-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@container (inline-size > 380px) {
  .tc-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@container (inline-size > 570px) {
  .tc-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@container (inline-size > 760px) {
  .tc-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


