/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.tc-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

mat-card {
  mat-card-content {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  mat-card-footer {
    margin-bottom: 1em;
  }

  &.tc-mat-card-horizontal {
    flex-direction: row;
    align-content: space-around;

    .mat-mdc-card-image {

      border-top-left-radius: inherit;
      border-top-right-radius: 0;
      border-bottom-left-radius: inherit;
    }

    .mat-mdc-card-content {
      flex-grow: 1;
    }
  }

}
